.app_container .title {
    margin-bottom: 30px;
}

.flex_middle .function {
    margin-left: 15px;
    padding-right: 60px;
}

.function_title {
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular, sans-serif;
}

.function_content {
    color: rgba(154, 154, 154, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular, sans-serif;
}

.main_title{
    margin-top: 50px;
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular,sans-serif;
}

.content_classify {
    display: flex;
    justify-content: end;
}

.classify_type {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classify_from{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}



